:root {
  --user-icon-size: 3.5em;
  --font-gray-color: #898989;
  --twitter-logo-size: 48px;
}

.tweet {
  --radius: 16px;
  border-radius: var(--radius);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: var(--radius);
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.tweet-author {
  display: grid;
  grid-template-columns: calc(var(--user-icon-size) + 1em) 1fr calc(var(--twitter-logo-size));
}

.twitter-user-icon > img {
  width: var(--user-icon-size);
  height: var(--user-icon-size);
}

.twitter-user-identifier {
  display: grid;
  grid-template-rows: 1fr 1em 1em 1fr;
}

.tiwtter-icon img {
  width: var(--twitter-logo-size);
  height: var(--twitter-logo-size);
}

.twitter-user-nick,
.twitter-user-name {
  font-size: 1em;
  height: 1em;
  line-height: 1.0;
}

.twitter-user-nick {
  grid-row-start: 2;
  font-weight: bold;
}

.twitter-user-name {
  grid-row-start: 3;
  color: var(--font-gray-color);
}

.tweet-body {
  font-size: 16pt;
}

.tweet-description {
  margin-bottom: 0;
}

.tweet-date {
  color: var(--font-gray-color);
}

.tweet-date a {
  color: var(--font-gray-color);
}

.main-image {
  display: block;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.prev-next-holder {
  display: flex;
}

.next-container {
  position: sticky;
  top: calc(50vh - 12px);
  width: 24px;
  height: 24px;
}

.prev-container {
  position: sticky;
  top: calc(50vh - 12px);
  width: 24px;
  height: 24px;
}
